@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700&display=swap&subset=japanese');

#app {
  font-family: 'Josefin Sans','Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #333333;
}

/* Layout Settings*/
.page {
  padding: 20px;
  margin-bottom: 30px;
}

.section {
  margin: 40px 0px;
}

.width80{
  width: 80%;
  margin: 0 auto;
}

.halfWidth{
  width: 40em;
}

.fullWidth{
  width: 100%;
}

.dashed{
  border-bottom: 1px dashed #e7e7e7;
  width: 70%;
  margin: 0 auto;
  padding: 20px;
}

img {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

/* Text Setting */
.textRight {
  text-align: right;
}

.textLeft {
  text-align: left;
}

ul, li {
  list-style: none;
}

.strictLine {
  line-break: strict;
}

/* flexBox */
.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  margin: 0 auto;
}

.flexItem {
  margin: 10px;
}

.tileContainer {
  flex-wrap:wrap;
}

/* colours */
/*might use sass later*/
:root {
  --white:#FFFFFF;
  --keyColor:#3550B2;
}

/* font sizes */
html {
  font-size: 62.5%;
}

h1 {
  font-weight: 600;
  font-size: 3rem;
  margin: 25px 0px;
}

h2 {
  font-weight: 400;
  font-size: 2rem;
  margin: 20px 0px;
}

h3 {
  font-weight: 300;
  font-size: 2rem;
  margin: 10px 0px;
}

h4{
  font-weight: 400;
  font-size: 1.5rem;
  margin: 4px 0px;
}

h5{
  font-weight: 300;
  font-size: 1.5rem;
  margin: 2px;
}

h6{
  font-weight: 300;
  font-size: 2rem;
  margin: 0px;
  color: #3550B2;
}

p {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 2px;
}

/* element-ui */
el-divider{
  font-weight: 300;
  font-size: 1.5em;
}

el-image.responsive {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.el-loading-spinner .path {
	stroke: #3550B2 !important;
}

.el-button{
	margin: 5px !important;
	border: 1px solid #3550B2 !important;
	color: #3550B2 !important;
}

.el-button:hover{
	border: 1px solid #3550B2 !important;
	color: white !important;
	background: #3550B2 !important;
	cursor: pointer;
}

.slotText {
  vertical-align: middle;
  text-align: center;
  margin: 15px;
}

.el-collapse {
  border-top: 1px solid #AEB8DE !important;

}

.el-collapse, .el-collapse-item__header, .el-collapse-item__wrap {
  border-bottom: 1px solid #AEB8DE !important;
}


/* Prismic specific settings */
#prismic li{
  list-style: circle;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 2px;
}

#prismic h2{
  font-weight: 500;
  font-size: 2.5rem;
  margin: 50px 0px 20px 0px;
  text-transform: uppercase;
  text-align: center;
}

#prismic h3{
  font-weight: 300;
  font-size: 2rem;
  margin: 20px 0px 0px 0px;
}



/* Media query*/

@media screen and (min-width:480px) {
	 /* for iPhone Landscape */

   .link{
     width:100%;
   }

   .responsiveWidth{
     width: 100%;
   }

}
@media screen and (min-width:768px) and ( max-width:1024px) {
	 /* for iPad  */
   .link{
      width:70%;
      margin: 0 auto;
   }

   .responsiveWidth{
     width: 80%;
     margin: 0 auto;
   }

}
@media screen and (min-width:1024px) {
	 /* for PC */
   .link{
      width:50%;
   }

   .responsiveWidth{
     width: 80%;
    margin: 0 auto;
   }

}
