@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700&display=swap');

#app {
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #707070;
}

.page{
  padding: 20px;
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.flexItem{
  margin: 10px;
}

/* colours */
/*might use sass later*/
:root{
  --white:#FFFFFF;
  --Gradient1:#E3E7F1;
  --Gradient2:#C6CBEF;
  --Gradient3:#8186D5;
  --Gradient4:#494CA2;
  --Gradient5:#2B2D62;
}



/* font sizes */
html {
  font-size: 62.5%;
}

h1 {
  font-weight: 600;
  font-size: 3.5em;
  margin: 20px 0px;
}

h2 {
  font-weight: 400;
  font-size: 2em;
  margin: 10px 0px;
}

h3 {
  font-weight: 300;
  font-size: 2em;
  margin: 0px;
}

h4{
  font-weight: 400;
  font-size: 1.5em;
  margin: 4px 0px;
}

h5{
  font-weight: 300;
  font-size: 1.5em;
  margin: 2px;
}

p{
  font-weight: 300;
  font-size: 1.5em;
  margin: 2px;
}

.section{
  margin: 80px 0px;
}

ul{
  list-style: none;
}

.el-button{
  font-family: inherit;
  background-color: white;
  border-color: #2B2D62;
  color: #2B2D62;
}

.el-button:hover{
  font-family: inherit;
  background-color: #2B2D62;
  border-color: #2B2D62;
  color: white;
}
